{% from "_macros/action-list.njk" import appActionList %}
{% from "_macros/heading.njk" import appHeading %}
{% from "_macros/secondary-navigation.njk" import appSecondaryNavigation %}

{% macro patientNavigation(params) %}
  {{ appHeading({
    title: params.patient.fullName,
    classes: "nhsuk-u-margin-bottom-2"
  }) }}

  <p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
    <strong>{{ __("child.dob.label") }}:</strong> {{ params.patient.formatted.dob }}
  </p>

  {{ appActionList({
    items: [{
      tag: {
        text: __("patient.archived.label"),
        classes: "nhsuk-tag--grey"
      }
    }]
  }) if patient.archived }}

  {{ appSecondaryNavigation({
    items: secondaryNavigationItems
  }) }}

  <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">
    {{ __("patient." + params.view + ".title") }}
  </h2>
{% endmacro %}
