{% extends "_layouts/form.njk" %}

{% set title = __("reply.respondent.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          classes: "nhsuk-fieldset__legend--l",
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: respondentItems | push({
      divider: "or"
    }) | push({
      text: __("reply.respondent.new"),
      value: "new"
    }),
    decorate: "reply.parent_uuid"
  }) }}
{% endblock %}
